.App {
  background-color: #3d594f;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.example_page {
  width: 94%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px 0;
}

.example_page_header {
  h2 {
    font-size: 50px;
    color: white;
    margin: 0;
  }
}

.example_page_header_logo {
  width: 180px;
  margin: 0 0 60px 0;
}

@media only screen and (max-width: 768px) {
  .userscontainer {
    width: 100%;
  }

  .example_page {
    width: 100%;
    flex-direction: column;
  }
}