.App {
  background-color: #30bb9b;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.example_page {
  width: 94%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 60px 0;
}

.example_page_header {
  h2 {
    font-size: 50px;
    color: white;
    margin: 0;
  }
}

.example_page_header_logo {
  width: 180px;
  margin: 0 0 60px 0;
}

.Loading_modal_container {
  min-width: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Loading_modal {
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 400px;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.Loading_modal_mollie {
  width: 100px;
  height: auto;
}

.Loading_modal_load {
  width: 40px;
}

@media only screen and (max-width: 768px) {
  .userscontainer {
    width: 100%;
  }

  .example_page {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .Loading_modal {
    height: 500px;
    width: calc(100vw - 30px);
    margin: 15px;
  }
}